<section class="section d-block">
    <div class="box-swiper">
        <div class="swiper-container swiper-group-1 swiper-banner-1">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="banner-1" style="background-image:url(/templates/assets/imgs/page/homepage1/banner.png)">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-12">
                                    <p class="font-md color-white mb-15">Lojistik & Taşımacılık</p>
                                    <h1 class="color-white mb-25">Dijital & Güvenilir Taşıma<br class="d-none d-lg-block">Lojistik Şirketi</h1>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <p class="font-md color-white mb-20">Deneyimli problem çözme ekibimiz ve müşterilerimizin iş hedefleriyle her zaman örtüşme taahhüdümüz, karşılıklı başarımızın temel kaynağıdır.</p>
                                        </div>
                                    </div>
                                    <div class="box-button mt-30"><a class="btn btn-brand-1-big hover-up mr-40" href="#">Paket Hesapla</a><a class="btn btn-play popup-youtube hover-up" href="https://www.youtube.com/watch?v=kCGf5uNE13I"><img src="assets/imgs/template/icons/play.svg" alt="">Nasıl Çalışır?</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="banner-1" style="background-image:url(/templates/assets/imgs/page/homepage1/banner-2.png)">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-12">
                                    <p class="font-md color-white mb-15">Lojistik & Taşımacılık</p>
                                    <h1 class="color-white mb-25">Dijital & Güvenilir Taşıma<br class="d-none d-lg-block">Lojistik Şirketi</h1>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <p class="font-md color-white mb-20">Deneyimli problem çözme ekibimiz ve müşterilerimizin iş hedefleriyle her zaman örtüşme taahhüdümüz, karşılıklı başarımızın temel kaynağıdır.</p>
                                        </div>
                                    </div>
                                    <div class="box-button mt-30"><a class="btn btn-brand-1-big hover-up mr-40" href="#">Paket Hesapla</a><a class="btn btn-play popup-youtube hover-up" href="https://www.youtube.com/watch?v=kCGf5uNE13I"><img src="assets/imgs/template/icons/play.svg" alt="">Nasıl Çalışır?</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination swiper-pagination-banner"></div>
        </div>
    </div>
</section>