<div class="app-sidebar-menu">
    <div class="h-100" data-simplebar>
        <div id="sidebar-menu">
            <div class="logo-box">
                <a href="index.html" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="~/Silva-Admin/dist/assets/images/logo-sm.png" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="~/Silva-Admin/dist/assets/images/logo-light.png" alt="" height="24">
                    </span>
                </a>
                <a href="index.html" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="~/Silva-Admin/dist/assets/images/logo-sm.png" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="~/Silva-Admin/dist/assets/images/logo-dark.png" alt="" height="24">
                    </span>
                </a>
            </div>

            <ul id="side-menu">
                <li class="menu-title">Menü</li>
                <li>
                    <a href="#sidebarDashboards" data-bs-toggle="collapse">
                        <i data-feather="home"></i>
                        <span> Kontrol Paneli </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="sidebarDashboards">
                        <ul class="nav-second-level">
                            <li><a href="index.html" class="tp-link">CRM</a></li>
                            <li><a href="analytics.html" class="tp-link">Analitik</a></li>
                            <li><a href="ecommerce.html" class="tp-link">E-Ticaret</a></li>
                        </ul>
                    </div>
                </li>

                <li class="menu-title">Sayfalar</li>
                <li>
                    <a href="#sidebarAuth" data-bs-toggle="collapse">
                        <i data-feather="users"></i>
                        <span> Kimlik Doğrulama </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="sidebarAuth">
                        <ul class="nav-second-level">
                            <li><a href="auth-login.html" class="tp-link">Giriş Yap</a></li>
                            <li><a href="auth-register.html" class="tp-link">Kayıt Ol</a></li>
                            <li><a href="auth-recoverpw.html" class="tp-link">Şifre Kurtarma</a></li>
                            <li><a href="auth-lock-screen.html" class="tp-link">Ekranı Kilitle</a></li>
                            <li><a href="auth-confirm-mail.html" class="tp-link">E-posta Onayı</a></li>
                            <li><a href="email-verification.html" class="tp-link">E-posta Doğrulama</a></li>
                            <li><a href="auth-logout.html" class="tp-link">Çıkış Yap</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a href="#sidebarError" data-bs-toggle="collapse">
                        <i data-feather="alert-octagon"></i>
                        <span> Hata Sayfaları </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="sidebarError">
                        <ul class="nav-second-level">
                            <li><a href="error-404.html" class="tp-link">Hata 404</a></li>
                            <li><a href="error-500.html" class="tp-link">Hata 500</a></li>
                            <li><a href="error-503.html" class="tp-link">Hata 503</a></li>
                            <li><a href="error-429.html" class="tp-link">Hata 429</a></li>
                            <li><a href="offline-page.html" class="tp-link">Çevrimdışı Sayfa</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a href="#sidebarExpages" data-bs-toggle="collapse">
                        <i data-feather="file-text"></i>
                        <span> Yardımcı Sayfalar </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="sidebarExpages">
                        <ul class="nav-second-level">
                            <li><a href="pages-starter.html" class="tp-link">Başlangıç</a></li>
                            <li><a href="pages-profile.html" class="tp-link">Profil</a></li>
                            <li><a href="pages-pricing.html" class="tp-link">Fiyatlandırma</a></li>
                            <li><a href="pages-timeline.html" class="tp-link">Zaman Çizelgesi</a></li>
                            <li><a href="pages-invoice.html" class="tp-link">Fatura</a></li>
                            <li><a href="pages-faqs.html" class="tp-link">SSS</a></li>
                            <li><a href="pages-gallery.html" class="tp-link">Galeri</a></li>
                            <li><a href="pages-maintenance.html" class="tp-link">Bakım</a></li>
                            <li><a href="pages-coming-soon.html" class="tp-link">Yakında</a></li>
                        </ul>
                    </div>
                </li>

                <li class="menu-title mt-2">Uygulamalar</li>

                <li>
                    <a href="apps-todolist.html" class="tp-link">
                        <i data-feather="columns"></i>
                        <span> Yapılacaklar Listesi </span>
                    </a>
                </li>

                <li>
                    <a href="apps-contacts.html" class="tp-link">
                        <i data-feather="map-pin"></i>
                        <span> Kişiler </span>
                    </a>
                </li>

                <li>
                    <a href="apps-calendar.html" class="tp-link">
                        <i data-feather="calendar"></i>
                        <span> Takvim </span>
                    </a>
                </li>

                <li class="menu-title mt-2">Genel</li>

                <li>
                    <a href="#sidebarBaseui" data-bs-toggle="collapse">
                        <i data-feather="package"></i>
                        <span> Bileşenler </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="sidebarBaseui">
                        <ul class="nav-second-level">
                            <li><a href="ui-accordions.html" class="tp-link">Akordeonlar</a></li>
                            <li><a href="ui-alerts.html" class="tp-link">Uyarılar</a></li>
                            <li><a href="ui-badges.html" class="tp-link">Rozetler</a></li>
                            <li><a href="ui-breadcrumb.html" class="tp-link">Gezinti Yolu</a></li>
                            <li><a href="ui-buttons.html" class="tp-link">Butonlar</a></li>
                            <li><a href="ui-cards.html" class="tp-link">Kartlar</a></li>
                            <li><a href="ui-collapse.html" class="tp-link">Daralt</a></li>
                            <li><a href="ui-dropdowns.html" class="tp-link">Açılır Menü</a></li>
                            <li><a href="ui-video.html" class="tp-link">Video Göm</a></li>
                            <li><a href="ui-grid.html" class="tp-link">Izgara</a></li>
                            <li><a href="ui-images.html" class="tp-link">Görseller</a></li>
                            <li><a href="ui-list.html" class="tp-link">Liste Grubu</a></li>
                            <li><a href="ui-modals.html" class="tp-link">Pencereler</a></li>
                            <li><a href="ui-placeholders.html" class="tp-link">Yer Tutucular</a></li>
                            <li><a href="ui-pagination.html" class="tp-link">Sayfalama</a></li>
                            <li><a href="ui-popovers.html" class="tp-link">Açılır Bilgi</a></li>
                            <li><a href="ui-progress.html" class="tp-link">İlerleme</a></li>
                            <li><a href="ui-scrollspy.html" class="tp-link">Kaydırma İzleme</a></li>
                            <li><a href="ui-spinners.html" class="tp-link">Yükleniyor</a></li>
                            <li><a href="ui-tabs.html" class="tp-link">Sekmeler</a></li>
                            <li><a href="ui-tooltips.html" class="tp-link">İpuçları</a></li>
                            <li><a href="ui-typography.html" class="tp-link">Tipografi</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a href="widgets.html" class="tp-link">
                        <i data-feather="aperture"></i>
                        <span> Widgetlar </span>
                    </a>
                </li>

                <li>
                    <a href="#sidebarAdvancedUI" data-bs-toggle="collapse">
                        <i data-feather="cpu"></i>
                        <span> Genişletilmiş Arayüz </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="sidebarAdvancedUI">
                        <ul class="nav-second-level">
                            <li><a href="extended-carousel.html" class="tp-link">Karusel</a></li>
                            <li><a href="extended-notifications.html" class="tp-link">Bildirimler</a></li>
                            <li><a href="extended-offcanvas.html" class="tp-link">Yan Panel</a></li>
                            <li><a href="extended-range-slider.html" class="tp-link">Aralık Kaydırıcı</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a href="#sidebarIcons" data-bs-toggle="collapse">
                        <i data-feather="award"></i>
                        <span> Simgeler </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="sidebarIcons">
                        <ul class="nav-second-level">
                            <li><a href="icons-feather.html" class="tp-link">Feather Simgeleri</a></li>
                            <li><a href="icons-mdi.html" class="tp-link">Material Tasarım Simgeleri</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a href="#sidebarForms" data-bs-toggle="collapse">
                        <i data-feather="briefcase"></i>
                        <span> Formlar </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="sidebarForms">
                        <ul class="nav-second-level">
                            <li><a href="forms-elements.html" class="tp-link">Genel Öğeler</a></li>
                            <li><a href="forms-validation.html" class="tp-link">Doğrulama</a></li>
                            <li><a href="forms-quilljs.html" class="tp-link">QuillJS Editörü</a></li>
                            <li><a href="forms-pickers.html" class="tp-link">Seçiciler</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a href="#sidebarTables" data-bs-toggle="collapse">
                        <i data-feather="table"></i>
                        <span> Tablolar </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="sidebarTables">
                        <ul class="nav-second-level">
                            <li><a href="tables-basic.html" class="tp-link">Temel Tablolar</a></li>
                            <li><a href="tables-datatables.html" class="tp-link">Veri Tabloları</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a href="#sidebarCharts" data-bs-toggle="collapse">
                        <i data-feather="pie-chart"></i>
                        <span> Apex Grafikler </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="sidebarCharts">
                        <ul class="nav-second-level">
                            <li><a href="charts-line.html" class="tp-link">Çizgi</a></li>
                            <li><a href="charts-area.html" class="tp-link">Alan</a></li>
                            <li><a href="charts-column.html" class="tp-link">Sütun</a></li>
                            <li><a href="charts-bar.html" class="tp-link">Çubuk</a></li>
                            <li><a href="charts-mixed.html" class="tp-link">Karışık</a></li>
                            <li><a href="charts-timeline.html" class="tp-link">Zaman Çizelgesi</a></li>
                            <li><a href="charts-rangearea.html" class="tp-link">Aralık Alan</a></li>
                            <li><a href="charts-funnel.html" class="tp-link">Huni</a></li>
                            <li><a href="charts-candlestick.html" class="tp-link">Mum Grafik</a></li>
                            <li><a href="charts-boxplot.html" class="tp-link">Kutu Grafik</a></li>
                            <li><a href="charts-bubble.html" class="tp-link">Baloncuk</a></li>
                            <li><a href="charts-scatter.html" class="tp-link">Dağılım</a></li>
                            <li><a href="charts-heatmap.html" class="tp-link">Isı Haritası</a></li>
                            <li><a href="charts-treemap.html" class="tp-link">Ağaç Haritası</a></li>
                            <li><a href="charts-pie.html" class="tp-link">Pasta</a></li>
                            <li><a href="charts-radialbar.html" class="tp-link">Dairesel Çubuk</a></li>
                            <li><a href="charts-radar.html" class="tp-link">Radar</a></li>
                            <li><a href="charts-polararea.html" class="tp-link">Polar</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a href="#sidebarMaps" data-bs-toggle="collapse">
                        <i data-feather="map"></i>
                        <span> Haritalar </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="sidebarMaps">
                        <ul class="nav-second-level">
                            <li><a href="maps-google.html" class="tp-link">Google Haritalar</a></li>
                            <li><a href="maps-vector.html" class="tp-link">Vektör Haritalar</a></li>
                        </ul>
                    </div>
                </li>

            </ul>

        </div>

        <div class="clearfix"></div>

    </div>
</div>