<section class="section pt-85 bg-worldmap">
    <div class="container">
        <div class="text-center">
            <img class="mb-15" src="~/templates/assets/imgs/template/icons/favicon.svg" alt="transp">
            <h2 class="color-brand-2 mb-20">Nasıl Çalışır</h2>
            <p class="font-md color-grey-700">Teslimat yapmak istediğiniz şehirleri siz seçin. Tüm teslimatlar belirli bir hizmet alanı içinde gerçekleştirilir ve teslimat hizmetleri konuma göre farklılık gösterebilir. Taşıma yöntemi veya gereksinimden bağımsız olarak, zamanında teslimatı garantilemek için en uygun hızlı kargo çözümünü bulup rezerve ediyoruz.</p>
        </div>
        <div class="row mt-50">
            <div class="col-lg-6 mb-30">
                <div class="box-image-how">
                    <img class="w-100" src="~/templates/assets/imgs/page/homepage1/how-it-work.png" alt="transp">
                    <div class="box-info-bottom-img">
                        <div class="image-play"><img class="mb-15" src="~/templates/assets/imgs/template/icons/play.svg" alt="transp"></div>
                        <div class="info-play">
                            <h4 class="color-white mb-15">Bu alanda 25 yıllık tutkulu deneyimimiz var</h4>
                            <p class="font-sm color-white">Yıllar içinde edindiğimiz derin sektör bilgisi ve güçlü iş ortaklıklarımızla müşterilerimize en güvenilir lojistik çözümlerini sunmaya devam ediyoruz.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-30">
                <ul class="list-how-works">
                    <li>
                        <div class="image-how"><span class="img"><img src="~/templates/assets/imgs/page/homepage1/order.png" alt="transp"></span></div>
                        <div class="info-how">
                            <h5 class="color-brand-2">Müşteri siparişi verir</h5>
                            <p class="font-md color-grey-700">Ürünlerin incelenmesi ve kalite kontrolü yapılır</p>
                        </div>
                    </li>
                    <li>
                        <div class="image-how"><span class="img"><img src="~/templates/assets/imgs/page/homepage1/payment.png" alt="transp"></span></div>
                        <div class="info-how">
                            <h5 class="color-brand-2">Ödeme tamamlanır</h5>
                            <p class="font-md color-grey-700">Payoneer, Paypal veya Visa/Mastercard ile ödeme</p>
                        </div>
                    </li>
                    <li>
                        <div class="image-how"><span class="img"><img src="~/templates/assets/imgs/page/homepage1/warehouse.png" alt="transp"></span></div>
                        <div class="info-how">
                            <h5 class="color-brand-2">Depo siparişi alır</h5>
                            <p class="font-md color-grey-700">Ürünlerin doğruluğu kontrol edilir</p>
                        </div>
                    </li>
                    <li>
                        <div class="image-how"><span class="img"><img src="~/templates/assets/imgs/page/homepage1/picked.png" alt="transp"></span></div>
                        <div class="info-how">
                            <h5 class="color-brand-2">Ürün toplanır, paketlenir ve gönderilir</h5>
                            <p class="font-md color-grey-700">Ürünler yerel kargo firmasına teslim edilir</p>
                        </div>
                    </li>
                    <li>
                        <div class="image-how"><span class="img"><img src="~/templates/assets/imgs/page/homepage1/delivery.png" alt="transp"></span></div>
                        <div class="info-how">
                            <h5 class="color-brand-2">Teslim edilir ve başarı ölçülür</h5>
                            <p class="font-md color-grey-700">Sipariş durumu sistem üzerinde güncellenir</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>